.btn-white {
	color: #0b0b0b;
	background-color: #fffafa;
}
.navbar .megamenu{ padding: 1rem; }
.navbar .megamenu a {
	color: #fff;
	text-decoration: none;
}
.menudestacado {
	padding-top: 10px;
	font-weight: 800;
	margin-top: 10px;
	font-size: 16px;
	display: block;
}
.text-right {
	text-align: right;
}
.redesmegamenu {
	font-size: 26px;
	padding: 1px 5px;
}
.border-right{
	border-right: 1px solid #dbdbdb;
	padding-right: 8px;
	padding-left: 0px;
}
header a {
	color: #fff;
	text-decoration: none;
}
header a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}
.quiknews a {
	color: #000;
	text-decoration: none;
	font-weight: 700;
}
.quiknews a:hover {
	color: red;
}
.quiknews a span {
	color: red;
	text-transform: uppercase;
}
.new a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}
.new a:hover {
	color: red;
}
.new .titulo-principal {
	font-size: 65px;
	text-align: center;
}
.new .subtitulo {
	font-size: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
}
.new .subtitulo2 {
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 800;
}
.img-responsive {
	width: 100%;
}
.new video {
	width: 100%;
}
.noticias li {
	border-top: 1px solid #dbdbdb;
	padding: 5px 1px;
}
.noticias li a {
	color: #000;
	text-decoration: none;
	font-weight: 300;
	font-size: 16px;
}
.noticias li a i.fa {
	color: red;
}
.subtitulofixed {
	position: relative;
	top: -40px;
	background-color: #ededed;
	width:max-content;
	padding: 10px;
	text-transform: uppercase;
	color: red;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: -40px;
}
.titulocat {
	background-color: #ededed;
	color: #000;
	font-size: 18px;
	padding: 10px;
	font-weight: 700;
	margin-bottom: 0;
}
.titulocat > a {
	display: block;
}
.titulocat > a:hover {
	color: #000;
	font-weight: 700;
}
.titulocat .flecha {
	float: right;
	font-size: 25px;
	position: relative;
	top: -3px;
	background-color: #ccc;
	width: 40px;
	text-align: center;
}
.curiosos {
	margin: 10px 0;
}
.curiosos li {
	border-top: 1px solid #dbdbdb;
	clear: both;
	padding-bottom: 5px;
	display: block;
}
.curiosos li img {
	width: 40%;
	float: left;
	padding-bottom: 5px;
}
.curiosos li a {
	width: 60%;
	float: left;
	padding: 10px 5px;
	font-size: 22px;
	font-weight: 400;
	color: #000;
	text-decoration: none;
}

.curiosos2 li {
	border-top: 1px solid #dbdbdb;
	clear: both;
	padding-bottom: 5px;
	display: block;
}
.curiosos2 li img {
	width: 30%;
	float: left;
	padding-bottom: 5px;
}
.curiosos2 li a {
	width: 70%;
	float: left;
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	text-decoration: none;
}
.doble-border {
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	display: block;
	width: 100%;
	padding: 1px;
	position: relative;
	top: 20px;
}
.doble-border-red {
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	display: block;
	width: 100%;
	padding: 1px;
	position: relative;
	top: 20px;
}
.superpuesto {
	position: relative;
	top: -87px;
	background-color: rgba(0,0,0,0.45);
	padding: 5px;
	color: #fff;
}
.superpuesto a {
	text-decoration: none;
}
.superpuesto a:hover {
	color: red;
}
footer .subtitulo a {
	color: #fff;
}
footer .col-megamenu a {
	text-decoration: none;
	color: #fff;
}
.redesfooter a {
	color: #fff;
}
.footerlinks a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
/* PAG DE NOTICIAS  */
.noticia {
	padding: 10px 50px;
}
.noticia .titulo-principal {
	font-weight: 800;
	padding: 10px 30px;
	text-align: center;
}
.minihr {
	width: 100px;
	display: block;
}
.hr-center {
	margin: 10px auto;
}
p.copy {
	font-size: 16px;
}
p.padding-noticia {
	padding: 5px 15%;
	font-size: 18px;
}
@media all and (min-width: 992px) {
	.navbar .has-megamenu{
		position:static!important;
	}
	.navbar .megamenu{
		left:0;
		right:0;
		width:100%;
		margin-top:0;
		position: fixed;
		padding: 20px 80px;
		color: #fff;
	}
}	
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}